<template name="paysList">

                <div class="uk-width-1-1">
                    <div class="">
                        <table class="uk-table uk-table-align-vertical">
                            <thead>
                            <tr>

                                <th class="uk-table-auto">Дата</th>
                                {{#unless short}}<th class="uk-table-auto"></th>{{/unless}}
                                <th class="uk-table-auto">Сумма</th>
                                <th class="uk-table-auto">Назначение</th>
                                <th class="uk-table-auto"></th>
                            </tr>
                            </thead>

                            <tbody>
                            {{#each pays}}
                            <tr>

                                <td>{{date _createdAt}}</td>

                                {{#unless short}}
                                <td>
                                    {{#if $eq currentUser.roles 'admin'}}<a href="{{pathFor 'manageusersedit' id=user}}">{{> managername id=user}}</a>{{else}}
                                    {{#if user}}<a href="/dashboard">{{> managername id=user}}</a>{{/if}}{{/if}}
                                </td>
                                {{/unless}}

                                <td>
                                    {{#if project}}<span class="uk-text-danger uk-text-nowrap">- {{count}} &#8381;</span>{{/if}}
                                    {{#unless project}}<span class="uk-text-success uk-text-nowrap">+ {{count}} &#8381;</span>{{/unless}}
                                </td>
                                <td>
                                    {{#if project}}<a href="{{pathFor 'manageProject' id=project}}">{{proj project}}</a>{{/if}}
                                    {{#unless project}}<a href="/balance">Пополнение баланса</a>{{/unless}}
                                </td>
                                <td>
                                    {{#if method}}<i class="uk-text-muted uk-text-break">{{method}}</i>{{/if}}
                                </td>
                            </tr>
                            {{/each}}
                            </tbody>

                            <tfoot class="uk-table-striped">
                            <tr>
                                <td><b>Итого:</b></td>
                                <td></td>
                                <td><span class="uk-text-success">+ {{currentUser.balance}} &#8381;</span></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tfoot>

                        </table>
                    </div>
                </div>
</template>
